*{
	padding: 0;
	margin: 0;
}

/*En-tête*/
header{
    background-color: #03989E;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
}

/*Logo du réseau*/
.logoreseau{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logopf{
    height: 50px;
    width: 50px;
}

#logoinsta, #logolink, #logogmail{
    height: 25px;
    width: 25px;
    margin: 5px;
}

/*Menu*/
.pfbarre{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(241, 241, 241, 0.75); 
}

#accueil:hover, #info:hover, #contact:hover{
    border: 2px solid #03989E;
    padding: 10px;
}

.logoreseau >.logo{
    display: flex;
    flex-direction: column;
}

#titre1{
    color: #03989E;
    text-decoration: none;
}

.pfbarre :where(a){
    text-decoration: none;
    color: #03989E;
    font-weight: bold;
    font-size: larger;
    list-style: none;

}

nav{
    width: 30%;
}

/*Barre de navigation*/
nav > ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#titre2{
    color: #FFFFFFFF;
    margin-left: 30px;

}

ul{
    list-style: none;
}

/*Menu burger*/
.menu {
	overflow: hidden;
}

.menu__icon {
	display: none;
	font-size:31px;
	color:#03989E;
	background: rgba(241, 241, 241, 0.75);
	border:none;
}

.menu__icon:hover {
	cursor:pointer;
}  

/**/
.titredark{
    display: flex;
    justify-content: space-between;
}

#dark{
    font-size:31px;
	color:#FFFFFFFF;
}

/* */
main :where(h1){
    text-align: center;
    color: #03989E;
    margin: 2%;
}

main :where(h2){
    color: #03989E;
    margin: 2%;
}

main :where(h3){
    color: #03989E;
}

main :where(p){
    font-size:larger;
    margin: 2%;
}

main :where(a){
    color: #000;
}

#txt{
    margin: 4%;
}


#texte{
    width: 100%;
}

#veilletech, #projet, #competence, #cvlm{
    display: flex;
    align-items: center;
}

#txt > iframe{
    height: 500px;
    width: 500px;
}

footer{
    background-color: #03989E;
    text-align: center;
}

footer > ol > li{
    list-style-type: none;
}

footer > ol > li >a{
    color: #FFFFFFFF;
}

/*Activation menu burger*/
@media all and (max-width: 800px) {
	.menu{
		display: none;
	}

	.menu__icon {
	  display: flex;
	}

	.menu.responsive {
		position: relative;
	}

	.menu.responsive > .menu__icon {
	  position: absolute;
	  right: 0;
	  top: 0;
	}

	.menu.responsive > a {
		float: none;
	  	display: block;
		text-align: left;
		font-size: 20px;
	}

    nav > ul{
        flex-direction: column;
    }
    
}